<%= simple_form_for @pin, html: { class: 'form-horizontal' } do |f| %>
    <% if @pin.errors.any? %>
        <div id="errors">
            <p><%= pluralize(@pin.errors.count, "error") %></p>
            <ul><%=@pin.errors.full_messages.each do |error| %>
                <li>
                    <%= error %>
                </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group">
        <%= f.input :title, input_html: { class: 'form-control'} %>
        <%= f.input :description, input_html: { class: 'form-control'} %>
        <%= f.button :submit %>
    </div>
<% end %>